main {
  margin-left: 232px; /*sidebar-width*/
  margin-top: 95px; /*header-height*/
  min-height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-task-form {
  display: flex;
}

.add-task-form div {
  display: flex;
  flex-direction: column;
}

#category,
#assigned-to {
  display: flex;
  border: 1px solid black;
}

#category div,
#assigned-to div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#assigned-to label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.open-arrow {
  width: 16px;
  height: 16px;
}

.prio-box {
  flex-direction: row !important;
}

.prio-box div {
  flex-direction: row !important;
  gap: 10px;
  padding: 18px 10px;
}

.active {
  border: 1px solid black;
}

#subtask-box {
  border: 1px solid black;
}

.subtask-img {
  width: 24px;
  height: 24px;
}

/* Prio Colors */

.high {
  background-color: rgb(255, 61, 0);
}

.medium {
  background-color: rgb(255, 168, 0);
}

.low {
  background-color: rgb(122, 226, 41);
}
