* {
  margin: 0;
}

main {
  margin-left: 232px; /*sidebar-width*/
  margin-top: 71px; /*header-height*/
  padding-top: 82px;
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
}

.bord-header {
  width: 100%;
  max-width: 1078px;
  display: flex;
  justify-content: space-between;
}

.bord-header div {
  display: flex;
}

.drag-and-drop-container {
  display: flex;
  gap: 26px;
  justify-content: space-between;
  max-width: 1078px;
}

.drag-and-drop-row {
  width: 250px;
  height: 661px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.dragarea-hover {
  background-color: rgb(242, 243, 244);
}

.drag-and-drop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  color: var(--main-color);
}

.drag-and-drop-header > div {
  border: 2px solid var(--main-color);
  display: flex;
  width: 30px;
  height: 30px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
}

.drag-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: calc(100% - 58px);
}

.task {
  width: 100%;
  height: 200px;
  background: rgb(230, 218, 218);
}
