@media (max-width: 1330px) {
    #contactsOverview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 45px;
        flex-grow: 1;
    }

    #sub-header {
        display: none;
    }

    #sub-header-mobile {
        display: flex;
    }

    .sub-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        padding: 0;
        gap: 15px;
        align-self: flex-start;
    }

    .sub-header p {
        display: none;
    }

    .sub-header h1,
    h3,
    p {
        margin: 0;
    }

    .line {
        width: 100px;
        height: 2px;
    }

    .modal-inner-container {
        max-width: 95%;
    }
}


@media (max-width: 1100px) {
    #contactsList {
        width: 100%;
        padding-top: 50px;
    }

    #contactsOverview {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        background-color: var(--bg-color);
    }

    #contactsOverview:has(.current-contact-animation) {
        opacity: 1;
        z-index: 1;
        overflow-y: scroll;
    }

    #contactsOverview:has(.current-contact-animation) .contacts-back {
        display: block;
    }

    #newContact {
        top: 17px;
        right: 20px;
    }

    #currentContact>div:nth-child(2)>span:last-child {
        display: none;
    }

    #currentContact {
        left: auto;
    }

    #contactsOverview button {
        position: static;
    }

    .mobile-addons {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
    }

    .mobile-contact-btn-container {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: auto;
        display: flex;
        gap: 15px !important;
        flex-direction: column;
    }

    .mobile-contact-btn-container>:first-child {
        width: max-content;
    }

    .contacts-back:hover {
        cursor: pointer;
    }

    .contacts-back {
        position: absolute;
        top: 50px;
        right: 50px;
        display: flex;
        height: 37px;
        width: 37px;
        z-index: 1;
    }

    .modal-inner-container {
        flex-direction: column;
        width: 90%;
        height: 90vh;
        top: 150%;
    }

    .modal-animation {
        top: 50%;
    }

    .right-frame-add {
        flex-direction: column;
        position: relative;
        border-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        gap: 0;
    }

    .left-frame-add {
        border-radius: 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 36px 26px;
    }

    .left-frame-add img:first-child {
        display: none;
    }

    .left-frame-add h1 {
        font-size: 47px;
    }

    .user-form input {
        padding: 8px 41px 8px 21px;
        width: 100%;
    }

    .user-form {
        gap: 25px;
        width: 80%;
    }

    .input-wrapper img {
        top: 22.5px;
    }

    .input-wrapper{
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }

    .right-frame-add:has(.img-wrapper) .img-wrapper  {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }

    .cancel-btn {
        z-index: 3;
        filter: invert(1) sepia(1) saturate(0%) brightness(106%) contrast(100%);
    }
}

/* Max-Width 850px */
@media (max-width: 850px) {

    main {
        height: 80vh;
        margin-left: 0;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }

    #contactsList {
        min-height: 80vh;
    }

    .sub-header p {
        display: block;
    }

    #currentContact div:first-child h3 {
        font-size: 36px;
    }

    .img-wrapper {
        width: 80px;
        height: 80px;
    }

    .contacts-back {
        right: 25px;
    }

    .button-wrapper {
     flex-direction: column-reverse;
     align-items: center;
    }
}

@media (max-width: 520px) {
    .right-frame-add {
        padding-top: 60px;
    }

    .left-frame-add {
        padding: 36px 26px;
    }
}

@media (max-height: 780px) {
    .button-wrapper {
        flex-direction: row;
    }

    .button-wrapper span {
        display: none;
    }
}