body {
    margin: 0;
}

.main {
    background-color: var(--bg-color);
    padding: 60px 116px;
    width: auto;
    height: auto;
    margin-left: 232px; /*sidebar-width*/
    margin-top: 71px; /*header-height*/
}

.arrow-left {
    display: flex;
    justify-content: flex-end;
}

.arrow-left-icon {
    cursor: pointer;
}

.help-h1 {
    font-size: 60px;
    margin: 0 0 40px 0;
}

.help-h2 {
    margin: 0;
}

.help-text {
    margin-bottom: 35px;
}

ol {
    margin-top: 35px;
}

.help-li {
    font-size: 27px;
    font-weight: bold;
    padding-left: 20px;
}

.li-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}