body {
    margin: 0;
}

.main {
    background-color: var(--bg-color);
    padding: 100px 116px;
    width: auto;
    height: auto;
    margin-left: 232px; /*sidebar-width*/
    margin-top: 71px; /*header-height*/
}

.arrow-left {
    display: flex;
    justify-content: flex-end;
}

.arrow-left-icon {
    cursor: pointer;
}

.legal-h1 {
    font-size: 60px;
    margin: 0 0 30px 0;
}

.legal-h2 {
    margin: 0;
}

.legal-text {
    margin-bottom: 35px;
}