body {
    margin: 0;
    overflow: hidden;
}

.main {
    background-color: var(--bg-color);
    padding: 50px 116px;
    width: auto;
    height: 100vh;
    margin-left: 232px; /*sidebar-width*/
    margin-top: 71px; /*header-height*/
}

.legal-h1 {
    font-size: 60px;
}

.legal-h2 {
    margin: 0;
}

.legal-text {
    margin-bottom: 35px;
}