/* ===== General Styling ===== */
body {
    margin: 0;
    background-color: var(--bg-color);
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 35px;
    gap: 35px;
    min-width: 653px;
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 30px;
    box-shadow: var(--shadoe-backlog-box);
}


/* ===== Headline =====  */
.login-modal h1 {
    position: relative;
    font-size: 61px;
    margin-top: 0;
    margin-bottom: 24px;
}

.login-modal h1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    width: 150px;
    height: 3px;
    background-color: var(--secondary-color);
}


/* ===== Form ===== */
form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 422px;
}

.input-wrapper {
    position: relative;

}

.input-wrapper img {
    position: absolute;
    top: 26.5px;
    right: 21px;
    transform: translateY(-50%);
    cursor: pointer;
}

form input {
    width: 422px;
    padding: 13px 41px 13px 21px;
    border-radius: 10px;
    font-size: 21px;
    border: 1px solid var(--sidebar-text-color);
}

form input::placeholder {
    font-size: 21px;
    color: var(--sidebar-text-color);
}

form input:focus {
    outline: none;
}


/* ===== Forgot Password Frame ===== */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.forgot-password {
    cursor: pointer;
    color: var(--secondary-color);
    text-decoration: none;
}


/* ===== Log in ===== */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

/* ===== Buttons ===== */
.button-wo-icon {
    height: 51px;
    width: 145px;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;

}

.button-secondary-wo-icon {
    height: 51px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 21px;
    font-weight: 700;
    width: auto;
}


/* ===== Sign up ===== */
.signup-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 67px;
    right: 114px;
    gap: 35px;
}

.signup-container span {
    font-size: 21px;
}

.signup-container a {
    font-size: 16px;
    width: auto;
}


/* ===== ============ ===== */
/* ===== Sign up Page ===== */

.back-arrow {
    position: absolute;
    left: 37px;
    top: 37px;
    cursor: pointer;
}

.info-text {

}


/* ===== ==================== ===== */
/* ===== Forgot Password Page ===== */
