:root {
    --main-color: rgb(41, 53, 70);
    --secondary-color: rgb(0, 170, 223);
    --bg-color: rgb(246, 247, 248);
    --sidebar-text-color: rgb(205, 205, 205);
    --sidebar-focus-color: rgb(10, 24, 48);
    font-size: 16px;
}


/* ===== General Styling ===== */
body {
    margin: 0;
}


/* ===== Navigation ===== */
.sidebar {
    width: 232px;
    height: 100vh;
    background-color: var(--main-color);
}