:root {
  /* Colors */
  --main-color: rgb(41, 53, 70);
  --secondary-color: rgb(0, 170, 223);
  --bg-color: rgb(246, 247, 248);
  --sidebar-text-color: rgb(205, 205, 205);
  --sidebar-focus-color: rgb(10, 24, 48);
  --error-color: #ff001f;

  /* Boxshadows */
  --barra-superior: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  --nuevo: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadoe-backlog-box: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  --button-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ===== General Styling ===== */
* {
  font-family: inter;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

body {
  margin: 0;
}

.active-modal {
  filter: brightness(0.5);
}

.error-msg {
  position: absolute;
  margin-top: 4px;
  font-size: 12px;
  color: var(--error-color);
}

.main-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.pointer {
  cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a8a8a8 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
}

*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.04);
}

*::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("../assets/img/icons/scrollbar-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

*::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("../assets/img/icons/scrollbar-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* ===== Navigation ===== */
.sidebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 103px;
  width: 232px;
  height: 100vh;
  background-color: var(--main-color);
  box-shadow: var(--nuevo);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
}

.nav-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--sidebar-text-color);
  padding: 8px 60px;
  gap: 20px;
  white-space: nowrap;
  font-family: inter;
}

.logo {
  width: 100px;
  height: 122px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.legal-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--sidebar-text-color);
  padding: 8px 60px;
  gap: 20px;
  font-family: inter;
  white-space: nowrap;
}

.sidebar-focus {
  background-color: var(--sidebar-focus-color);
}

.sidebar-focus span {
  color: white;
}

/* ===== Header ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 232px;
  right: 0;
  height: 95px;
  /* min-height: 65px; */
  padding: 20px 36px 20px calc(348px - 232px);
  font-size: 21px;
  color: black;
  background-color: white;
  box-shadow: var(--barra-superior);
  z-index: 101;
}

.right-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-frame a {
  height: max-content;
}

.log-out-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.log-out-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 105px;
  right: 35px;
  min-width: 140px;
  padding: 16px 21px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  color: white;
  background-color: var(--main-color);
  border-radius: 20px;
  border-top-right-radius: 0;
  text-decoration: none;
  outline: 1px solid white;
}

.log-out-modal>* {
  cursor: pointer;
}

.log-out-modal a {
  text-decoration: none;
  color: white;
  display: none;
}

.img-ellipse {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 26px;
}

#default-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  font-weight: 400;
  color: white;
  font-size: 21px;
}

#img-profile {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 47px;
  height: 47px;
  margin: auto;
  cursor: pointer;
}

/* ===== Buttons ===== */

.button-wo-icon {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  display: flex;
  width: 104px;
  height: 27px;
  padding: 4px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: unset;
  border-radius: 8px;
  font-size: 16px;
  transition: ease-in-out 100ms;
}

.button-wo-icon:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--button-box-shadow);
}

.button-wo-icon:active {
  background: var(--sidebar-focus-color);
}

.button-secondary-wo-icon {
  cursor: pointer;
  display: flex;
  width: 104px;
  height: 27px;
  padding: 4px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  outline: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 16px;
  background: none;
  transition: ease-in-out 100ms;
}

.button-secondary-wo-icon:hover {
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--button-box-shadow);
}

.button-secondary-wo-icon:active {
  outline: 1px solid var(--sidebar-focus-color);
  color: var(--sidebar-focus-color);
}

.button-with-icon {
  background-color: var(--main-color);
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: unset;
  border-radius: 10px;
  transition: all ease-in-out 100ms;
}

.button-with-icon:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--button-box-shadow);
}

.button-with-icon:active {
  background: var(--sidebar-focus-color);
}

.button-secondary-with-icon {
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: 136px;
  height: 55px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 21px;
  background: none;
  transition: ease-in-out 100ms;
}

.button-secondary-with-icon:hover {
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
  box-shadow: var(--button-box-shadow);
}

.button-secondary-with-icon:active {
  outline: 1px solid var(--sidebar-focus-color);
  color: var(--sidebar-focus-color);
}

/* ===== Toast ===== */
.confirm-modal {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 13px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 21px;
  color: white;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: var(--nuevo);
  transition: 225ms ease-in-out;
  z-index: 9999;
}

.confirm-animation {
  bottom: 15%;
}

/* ======================================= */
/* ===== Responsive Mobile Templates ===== */

@media (max-width: 850px) {

  /* Sidebar*/
  .sidebar {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    min-height: 65px;
    width: auto;
    justify-content: space-around;
  }

  .logo {
    display: none;
  }

  #sidebar-legal {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
    width: 100%;
    gap: 0;
  }

  .nav-menu a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 80%;
    gap: 10px;
    border-radius: 8px;
  }

  .sidebar-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 65px;
    width: 25%;
    overflow: hidden;
    border-radius: 8px;
  }

  /* Header */
  .header {
    left: 0;
    padding: 0;
  }

  .header::before {
    content: "";
    background-image: url("../assets/img/logos/logo_Regular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
    width: 55px;
    margin-left: 10px;
  }

  .header>span {
    display: none;
  }

  .right-frame a {
    display: none;
  }

  .right-frame {
    position: absolute;
    right: 25px;
  }

  .img-ellipse {
    margin: 0;
  }

  .log-out-modal a {
    display: block;
  }
}