.summary {
    background-color: var(--bg-color);
    padding: 40px;
    width: auto;
    height: 100vh;
    margin-left: 232px; /*sidebar-width*/
    margin-top: 71px; /*header-height*/
}

.summary-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
}

.summary-h1, .summary-h2, .summary-hr1 {
    margin-right: 35px;
}

.summary-h1 {
    font-size: 55px;
}

.summary-hr1 {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    width: 2px;
    height: 35px;
    margin-left: 0;
}

.summary-h2 {
    font-size: 17px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
}

.summary-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.first-line {
    display: flex;
    justify-content: flex-start;
}

.second-line {
    display: flex;
    align-items: center;
}

.third-line {
    display: flex;
    justify-content: flex-start;
}

.link-to-board {
    text-decoration: none;
}

.card {
    background-color: white;
    color: rgba(42, 54, 71, 1);
    border: 2px solid rgba(205, 205, 205, 0.25);
    border-radius: 20px;
    width: 130px;
    height: 130px;
    margin: 15px 15px 15px 0;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(42, 54, 71, 1);
    color: white;
}

.card-second-line {
    width: 420px;
}

.card-third-line {
    width: 202.5px;
    height: 115px;
    display: flex;
}

.card-third-line:hover img {
    filter: invert(100%) brightness(150%);
  }

.numbers {
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.arrow-img, .pencil-img, .checkmark-summary-img {
    width: 50px;
    height: auto;
    margin: 0 20px;
}

.summary-hr2 {
    border-color: rgba(209, 209, 209, 1);
    background-color: rgba(209, 209, 209, 1);
    border: none;
    border-radius: 10px;
    width: 2px;
    height: 80px;
    margin: 42px;
}

.greetings {
    color: rgba(42, 54, 71, 1);
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.user-name {
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
    font-weight: 700;
}