<div class="nav-menu-mobile">

    <a id="sidebar-summary" href="summary.html">
      <object onload="toggleSidebarFocus()" id="sidebar-object-summary" data="../assets/img/icons/sidebar-summary.svg" type="image/svg+xml">
        <img src="../assets/img/icons/sidebar-summary.svg" alt="" />
      </object>
      <span>Summary</span>
    </a>
  
    <a id="sidebar-board" href="board.html">
      <object onload="toggleSidebarFocus()" id="sidebar-object-board" data="../assets/img/icons/sidebar-board.svg" type="image/svg+xml">
        <img src="../assets/img/icons/sidebar-board.svg" alt="" />
      </object>
      <span>Board</span>
    </a>
  
    <a id="sidebar-add_Task" href="add_Task.html">
      <object onload="toggleSidebarFocus()" id="sidebar-object-add_Task" data="../assets/img/icons/sidebar-add-task.svg" type="image/svg+xml">
        <img src="../assets/img/icons/sidebar-add-task.svg" alt="" />
      </object>
      <span>Add Task</span>
    </a>
  
    <a id="sidebar-contacts" href="contacts.html">
      <object onload="toggleSidebarFocus()" id="sidebar-object-contacts" data="../assets/img/icons/sidebar-contacts.svg" type="image/svg+xml">
        <img src="../assets/img/icons/sidebar-contacts.svg" alt="" />
      </object>
      <span>Contacts</span>
    </a>
  
  </div>