<!-- Logo -->
<img class="logo" src="../assets/img/logos/logo_Light.png" alt="Logo of Join" />

<!-- Menu -->
<div class="nav-menu">
  <a id="sidebar-summary" href="summary.html">
    <object
      onload="toggleSidebarFocus()"
      data="../assets/img/icons/sidebar-summary.svg"
      type="image/svg+xml"
    ></object>
    <!-- <img id="sidebar-svg-summary" src="../assets/img/icons/sidebar-summary.svg" alt="" /> -->
    <span>Summary</span>
  </a>
  <a id="sidebar-board" onclick="toggleSidebarFocus()" href="board.html">
    <img src="../assets/img/icons/sidebar-board.svg" alt="" />
    <span>Board</span>
  </a>
  <a id="sidebar-add_Task" onclick="toggleSidebarFocus()" href="add_Task.html">
    <img src="../assets/img/icons/sidebar-add-task.svg" alt="" />
    <span>Add Task</span>
  </a>
  <a id="sidebar-contacts" onclick="toggleSidebarFocus()" href="contacts.html">
    <img src="../assets/img/icons/sidebar-contacts.svg" alt="" />
    <span>Contacts</span>
  </a>
</div>

<!-- Legal -->
<a
  class="legal-link"
  id="sidebar-legal"
  onclick="toggleSidebarFocus(4)"
  href="legal.html"
>
  <img src="../assets/img/icons/sidebar-legal.svg" alt="" />
  <span>Legal notice</span>
</a>
