    <!-- Logo -->
    <img class="logo" src="../assets/img/logo_Light.png" alt="Logo of Join">

    <!-- Menu -->
    <div class="nav-menu">
        <a id="sidebar0" onclick="toggleSidebarFocus(0)" href="../../html/summary.html">
            
                <img src="../assets/img/sum.svg" alt="">
                <span>Summary</span>
            
        </a>
        <a id="sidebar1" onclick="toggleSidebarFocus(1)" href="../../html/board.html">
            
                <img src="../assets/img/board.svg" alt="">
                <span>Board</span>
            
        </a>
        <a id="sidebar2" onclick="toggleSidebarFocus(2)" href="../../html/add_Task.html">
            
                <img src="../assets/img/task.svg" alt="">
                <span>Add Task</span>
            
        </a>
        <a id="sidebar3" onclick="toggleSidebarFocus(3)" href="../../html/contacts.html">
            
                <img src="../assets/img/contacts.svg" alt="">
                <span>Contacts</span>
            
        </a>
    </div>

    <!-- Legal -->
    <a class="legal-link" id="sidebar4" onclick="toggleSidebarFocus(4)" href="../../html/legal.html">
        
            <img src="../assets/img/legal.svg" alt="">
            <span>Legal notice</span>
        
    </a>
