<!-- Logo -->
<img class="logo" src="../assets/img/logos/logo_Light.png" alt="Logo of Join" />

<!-- Menu -->
<div class="nav-menu">

  <div class="sidebar-link-wrapper">
    <a id="sidebar-summary" href="summary.html">
      <img id="sidebar-object-summary" src="../assets/img/icons/sidebar-summary.svg">
      <span>Summary</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-board" href="board.html">
      <img id="sidebar-object-board" src="../assets/img/icons/sidebar-board.svg">
      <span>Board</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-add_Task" href="add_Task.html">
      <img id="sidebar-object-add_Task" src="../assets/img/icons/sidebar-add_Task.svg">
      <span>Add Task</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-contacts" href="contacts.html">
      <img id="sidebar-object-contacts" src="../assets/img/icons/sidebar-contacts.svg">
      <span>Contacts</span>
    </a>
  </div>

</div>

<!-- Legal -->
<a class="legal-link" id="sidebar-legal" href="legal.html">
  <img id="sidebar-object-legal" src="../assets/img/icons/sidebar-legal.svg">
  <span>Legal notice</span>
</a>